<form base="http://library.hbs.edu" xmlns="http://www.w3.org/1999/xhtml">
    <legend>MBA Case</legend>
    <div typeof="hbs:Case" resource="case-project:Case/502006">
        <label>Case-ID</label>
        <input name="hbs:Case-ID" content="502006" type="literal" datatype="xsd:string" required/>

        <label>Title</label>
        <input name="skos:prefLabel" xml:lang="en" type="literal" datatype="xsd:string">The Medicines Company"</input>
        <!--
            <input name="hbs:hasHBSInitiative" resource="case-project:HBSInitiative/3"/>
            <input name="hbs:hasProtagonistGender" resource="case-project:ProtagonistGender/1"/>
            <input name="hbs:hasProtagonistEthnicity" resource="case-project:ProtagonistEthnicity/3"/>
            <input name="hbs:partOfCourse_ClassSession_Case" resource="case-project:Course_ClassSession/MKT-24-502006"/>

            <input name="hbs:aboutSubject" resource="case-project:SubjectArea/16"/>
            <input name="hbs:aboutSubject" resource="case-project:SubjectArea/15"/>
            <input name="hbs:aboutSubject" resource="case-project:SubjectArea/4"/>
            <input name="hbs:aboutSubject" resource="case-project:SubjectArea/5"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/94"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/146"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/91"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/84"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/66"/>
            <input name="hbs:aboutSubject" resource="case-project:Subject/171"/>
            -->
    </div>
</form>
